html, body {
    height: 100%;
}

/*外部容器*/
.container {
    overflow: hidden;
    height: 80%;
    padding: 2.5%;
    /*background-color: #efa2a9;*/
    background-color: #eff0f2;
    border-radius: 2%;
}

/*左侧放表单的盒子*/
.formbox {
    /*background-color: #79bbe7;*/
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
    border: 2px solid #1abc9c;
}

/*右侧放图片的盒子*/
.imgbox {
    /*background-color: #00ae56;*/
    float: right;
    width: 25%;
    height: 100%;
    /*弹性布局*/
    display: flex;
    /*内容水平居中*/
    justify-content: center;
    padding-top: 2.5%;
    border: 2px solid #1abc9c;
}

/*图片盒子里放img的盒子*/
.imgdiv {
    /*background-color: #8e44ad;*/
    width: 200px;
    height: 200px;
}

.imgdiv > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
    margin-bottom: 10%;
}

.imgdiv>button{
    margin: 20px 0;
}

/*表单盒子里放form的盒子*/
.formdiv {
    height: 300px;
    /*background-color: #00a1cb;*/
    text-align: left;
}