/*居中盒子*/
.cntrdiv {
    width: 100%;
    /*height: 400px;*/
    text-align: center;
}

/*表单,已作废*/
.cntrdiv > form {
    width: 100%;
    height: 400px;
    /*background-color: #79bbe7;*/
}

textarea {
    width: 100%;
    height: 280px;
}