{% extends 'base.html' %}

{#自己用的依赖#}
{% block own-rely %}
    {#静态资源目录需要重新加载#}
    {% load static %}
    {#自定义过滤器#}
    {% load mainapp_filter %}
    {#其它依赖#}
    <link href="{% static "/lzh/css/bdymsg.css" %}" rel="stylesheet">
{% endblock %}


{#标题#}
{% block title %}身体信息{% endblock %}

{#内容部分#}
{% block content %}
    <div class="container">
        <div class="cntrdiv">
            {% if please is None %}
                <h2>DietCat用户身体信息表</h2>
            {% else %}
                <h2>请先添写个人信息!并至少打卡一天!</h2>
            {% endif %}
            <p>欢迎，填写必要的身体信息能让我们更好地为您提供科学的饮食服务。</p>
        </div>
        <form action="/updatebdymsg/" method="post">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>条目</th>
                    <th>值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>性别</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" data-toggle="radio" name="sex" value="1"
                                   {% if user.sex is not None %}{% ifequal user.sex '1' %}checked
                                   {% endifequal %}{% endif %}>男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-toggle="radio" name="sex" value="0"
                                   {% if user.sex is not None %}{% ifequal user.sex '0' %}checked
                                   {% endifequal %}{% endif %}>女
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td>
                        <input type="date" value="{{ user.birthday }}" name="birthday">
                    </td>
                </tr>
                <tr>
                    <td>身高</td>
                    <td>
                        <input type="text" value="{{ user.height }}" name="height">
                    </td>
                </tr>
                <tr>
                    <td>体重</td>
                    <td>
                        <input type="text" value="{{ user.weight }}" name="weight">
                    </td>
                </tr>
                <tr>
                    <td>BMI(自动计算)</td>
                    <td>{{ bmi }}</td>
                </tr>
                <tr>
                    <td>血型</td>
                    <td>
                        <select class="form-control" id="sel1" name="blood-type">
                            {% if user.blood_type is None %}
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="AB">AB</option>
                                <option value="O">O</option>
                                <option value="others">其它</option>
                            {% else %}
                                <option value="A"
                                        {% ifequal user.blood_type 'A' %}selected{% endifequal %}>A
                                </option>
                                <option value="B"
                                        {% ifequal user.blood_type 'B' %}selected{% endifequal %}>B
                                </option>
                                <option value="AB"
                                        {% ifequal user.blood_type 'AB' %}selected{% endifequal %}>AB
                                </option>
                                <option value="O"
                                        {% ifequal user.blood_type 'O' %}selected{% endifequal %}>O
                                </option>
                                <option value="others"
                                        {% ifequal user.blood_type 'other' %}selected{% endifequal %}>其它
                                </option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>肺活量</td>
                    <td>
                        <input type="text" value="{{ user.lung_capacity }}" name="lung-capacity">
                    </td>
                </tr>
                <tr>
                    <td>50米短跑</td>
                    <td>
                        <input type="text" value="{{ user.run_50 }}" name="run-50">
                    </td>
                </tr>
                <tr>
                    <td>视力(左)</td>
                    <td>
                        <input type="text" value="{{ user.vision_left }}" name="vision-left">
                    </td>
                </tr>
                <tr>
                    <td>视力(右)</td>
                    <td>
                        <input type="text" value="{{ user.vision_right }}" name="vision-right">
                    </td>
                </tr>
                <tr>
                    <td>坐位体前屈</td>
                    <td>
                        <input type="text" value="{{ user.sit_and_reach }}" name="sit-and-reach">
                    </td>
                </tr>
                <tr>
                    <td>立定跳远</td>
                    <td>
                        <input type="text" value="{{ user.standing_long_jump }}" name="standing-long-jump">
                    </td>
                </tr>
                <tr>
                    <td>1分钟跳绳</td>
                    <td>
                        <input type="text" value="{{ user.rope_skipping_1 }}" name="rope-skipping-1">
                    </td>
                </tr>
                <tr>
                    <td>1分钟仰卧起坐</td>
                    <td>
                        <input type="text" value="{{ user.sit_ups_1 }}" name="sit-ups-1">
                    </td>
                </tr>
                <tr>
                    <td>1分钟俯卧撑</td>
                    <td>
                        <input type="text" value="{{ user.push_ups_1 }}" name="push-ups-1">
                    </td>
                </tr>
                <tr>
                    <td>饮食偏好</td>
                    <td>
                        <select class="form-control" id="sel2" name="eating-prefer">
                            {% if user.eating_prefer is None %}
                                <option>清淡</option>
                                <option>辛辣</option>
                                <option>咸</option>
                                <option>甜</option>
                            {% else %}
                                <option
                                        {% ifequal user.eating_prefer '清淡' %}selected{% endifequal %}>清淡
                                </option>
                                <option
                                        {% ifequal user.eating_prefer '辛辣' %}selected{% endifequal %}>辛辣
                                </option>
                                <option
                                        {% ifequal user.eating_prefer '咸' %}selected{% endifequal %}>咸
                                </option>
                                <option
                                        {% ifequal user.eating_prefer '甜' %}selected{% endifequal %}>甜
                                </option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>饮食风格</td>
                    <td>
                        <select class="form-control" id="sel3" name="eating-style">
                            {% if user.eating_style is None %}
                                <option>长期应酬</option>
                                <option>规律三餐</option>
                                <option>一日两餐</option>
                                <option>少食多餐</option>
                            {% else %}
                                <option
                                        {% ifequal user.eating_style '长期应酬' %}selected{% endifequal %}>长期应酬
                                </option>
                                <option
                                        {% ifequal user.eating_style '规律三餐' %}selected{% endifequal %}>规律三餐
                                </option>
                                <option
                                        {% ifequal user.eating_style '一日两餐' %}selected{% endifequal %}>一日两餐
                                </option>
                                <option
                                        {% ifequal user.eating_style '少食多餐' %}selected{% endifequal %}>少食多餐
                                </option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>均日睡眠时间</td>
                    <td>
                        <input type="text" value="{{ user.sleep_time_avg }}" name="sleep-time-avg">
                    </td>
                </tr>
                <tr>
                    <td>既往病史(按住Ctrl多选)</td>
                    <td>
                        <select multiple id="sel4" onchange="changeAna();">
                            <optgroup label="既往病史">
                                {% if user.anamnesis is None %}
                                    <option value="1">高血压</option>
                                    <option value="2">鼻炎</option>
                                    <option value="3">咽炎</option>
                                    <option value="4">关节炎</option>
                                    <option value="5">骨质疏松</option>
                                {% else %}
                                    <option value="1"
                                            {% if user.anamnesis|has:'1' %}selected{% endif %}>高血压
                                    </option>
                                    <option value="2"
                                            {% if user.anamnesis|has:'2' %}selected{% endif %}>鼻炎
                                    </option>
                                    <option value="3"
                                            {% if user.anamnesis|has:'3' %}selected{% endif %}>咽炎
                                    </option>
                                    <option value="4"
                                            {% if user.anamnesis|has:'4' %}selected{% endif %}>关节炎
                                    </option>
                                    <option value="5"
                                            {% if user.anamnesis|has:'5' %}selected{% endif %}>骨质疏松
                                    </option>
                                {% endif %}
                            </optgroup>
                        </select>
                        <input type="hidden" name="anamnesis" id="hid-sel4" value="{{ user.anamnesis }}">
                    </td>
                </tr>
                </tbody>
            </table>
            <input class="btn btn-block btn-lg btn-primary" type="submit" value="保存更改">
        </form>
        <div class="cntrdiv">
            <a href="javascript:void(0);" onclick="showHowToUse();">DietCat将如何使用我的身体信息?</a>
        </div>
    </div>
    <script>
        {#监视选中项的改变,每次都重新维护全部选中项#}

        function changeAna() {
            var ana = [];
            var obj = document.getElementById("sel4");
            for (var i = 0; i < obj.options.length; i++) {
                if (obj.options[i].selected) {
                    ana.push(obj.options[i].value);// 收集选中项
                }
            }
            var hid_sel4 = document.getElementById("hid-sel4");
            console.log(hid_sel4);
            //放入隐藏域中,后续由隐藏域提交
            hid_sel4.value = ana;
        }

        {# 用户点击如何使用身体信息 #}

        function showHowToUse() {
            window.alert('TODO');
        }
    </script>
{% endblock %}