{% extends 'base.html' %}

{#自己用的依赖#}
{% block own-rely %}
    {#静态资源目录需要重新加载#}
    {% load static %}
    {#其它依赖#}
    <link href="{% static "/lzh/css/index.css" %}" rel="stylesheet">
{% endblock %}


{#标题#}
{% block title %}主页{% endblock %}

{#内容部分#}
{% block content %}
    {#四大功能盒子#}
    <div class="row big4div">
        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/compas.svg" %}" alt="Compas"
                     class="tile-image big-illustration">
                <h3 class="tile-title">一日三餐建议</h3>
                <p>DietCat给你建议，解决选择困难。</p>
                <a class="btn btn-primary btn-large btn-block" href="/meals/">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/clipboard.svg" %}" alt="Infinity-Loop"
                     class="tile-image">
                <h3 class="tile-title">精准食物推荐</h3>
                <p>根据你的爱好和健康状况精准推荐</p>
                <a class="btn btn-primary btn-large btn-block" href="/recommend/1">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/pencils.svg" %}" alt="Pensils" class="tile-image">
                <h3 class="tile-title">编不出来功能</h3>
                <p>暂时编不出来还有什么功能</p>
                <a class="btn btn-primary btn-large btn-block" href="#">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile tile-hot">
                <img src="{% static "/flatui/dist/images/icons/ribbon.svg" %}" alt="ribbon" class="tile-hot-ribbon">
                <img src="{% static "/flatui/dist/images/icons/calendar.svg" %}" alt="Chat" class="tile-image">
                <h3 class="tile-title">长期饮食计划</h3>
                <p>业内专家一对一制定长期饮食计划</p>
                <a class="btn btn-primary btn-large btn-block" href="/plan/">了解详情</a>
            </div>
        </div>
    </div>
    {#-------------------------------------------------------------------------------#}
    <div class="outer">
        {#-----------#}
        {% if favourlist is not None %}
            <div class="lftop-contain">
                <div class="lftop-txt">喜爱饮食</div>
            </div>
            <div class="building">
                <div class="rowhelp">{#第一个行头#}
                    {% for i in favourlist %}
                        {% if forloop.counter0|divisibleby:4 %}
                            </div>
                            <div class="rowhelp">
                        {% endif %}
                        <div class="eat-item">
                            <div class="img_a_div">
                                <a href="/gotomeal/{{ i.id }}" target="_blank">
                                    <img src="{{ i.菜品图标网址 }}">
                                </a>
                            </div>
                            <div class="textdiv">
                                <div class="itemcont">
                                    <a href="/gotomeal/{{ i.id }}" title="{{ i.商铺名称 }}" target="_blank" class="ictxt">
                                        {{ i.菜品 }}
                                    </a>
                                </div>
                                <span class="green">{{ i.商铺名称 }}</span>
                                <a class="item-txt fr"><span style="color: #888;">本月好评：</span>{{ i.推荐人数 }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {#最后一个行尾#}
            </div>
        {% endif %}
        {#-----------#}
        <div class="lftop-contain">
            <div class="lftop-txt">热门餐饮</div>
        </div>
        <div class="building">
            <div class="rowhelp">{#第一个行头#}
                {% for i in hotlist %}
                    {% if forloop.counter0|divisibleby:4 %}
                        </div>
                        <div class="rowhelp">
                    {% endif %}
                    <div class="eat-item">
                        <div class="img_a_div">
                            <a href="/gotomeal/{{ i.id }}" target="_blank">
                                <img src="{{ i.菜品图标网址 }}">
                            </a>
                        </div>
                        <div class="textdiv">
                            <div class="itemcont">
                                <a href="/gotomeal/{{ i.id }}" title="{{ i.商铺名称 }}" target="_blank" class="ictxt">
                                    {{ i.菜品 }}
                                </a>
                            </div>
                            <span class="green">{{ i.商铺名称 }}</span>
                            <a class="item-txt fr"><span style="color: #888;">本月好评：</span>{{ i.推荐人数 }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {#最后一个行尾#}
        </div>
    </div>
    {#-------------------------------------------------------------------------------#}
{% endblock %}