{% extends 'base.html' %}

{#自己用的依赖#}
{% block own-rely %}
    {#静态资源目录需要重新加载#}
    {% load static %}
    {#其它依赖#}
    <link href="{% static "/lzh/css/index.css" %}" rel="stylesheet">
{% endblock %}


{#标题#}
{% block title %}主页{% endblock %}

{#内容部分#}
{% block content %}
    {#四大功能盒子#}
    <div class="row big4div">
        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/compas.svg" %}" alt="Compas"
                     class="tile-image big-illustration">
                <h3 class="tile-title">一日三餐建议</h3>
                <p>DietCat给你建议，解决选择困难。</p>
                <a class="btn btn-primary btn-large btn-block" href="/meals/">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/clipboard.svg" %}" alt="Infinity-Loop"
                     class="tile-image">
                <h3 class="tile-title">精准食物推荐</h3>
                <p>根据你的爱好和健康状况精准推荐</p>
                <a class="btn btn-primary btn-large btn-block" href="/recommend/">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile">
                <img src="{% static "/flatui/dist/images/icons/pencils.svg" %}" alt="Pensils" class="tile-image">
                <h3 class="tile-title">编不出来功能</h3>
                <p>暂时编不出来还有什么功能</p>
                <a class="btn btn-primary btn-large btn-block" href="#">了解详情</a>
            </div>
        </div>

        <div class="col">
            <div class="tile tile-hot">
                <img src="{% static "/flatui/dist/images/icons/ribbon.svg" %}" alt="ribbon" class="tile-hot-ribbon">
                <img src="{% static "/flatui/dist/images/icons/calendar.svg" %}" alt="Chat" class="tile-image">
                <h3 class="tile-title">长期饮食计划</h3>
                <p>业内专家一对一制定长期饮食计划</p>
                <a class="btn btn-primary btn-large btn-block" href="/plan/">了解详情</a>
            </div>
        </div>
    </div>
    {#-------------------------------------------------------------------------------#}
    <div class="outer">
        {#-----------#}
        <div class="lftop-contain">
            <div class="lftop-txt">健康饮食</div>
        </div>
        {% for i in mylst %}
            <div class="building">
                <div class="eat-item">
                    <div class="img_a_div">
                        <a href="/eatery/66" target="_blank">
                            <img src="{% static "/lzh/imgs/testitem.jpg" %}">
                        </a>
                    </div>
                    <div class="textdiv">
                        <div class="itemcont">
                            <a href="#" title="昊昊餐厅" target="_blank" class="ictxt">
                                健康水果大拼盘
                            </a>
                        </div>
                        <span class="green">美团外卖</span>
                        <a class="item-txt fr"><span style="color: #888;">本月好评：</span>42368次</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {#-----------#}
        <div class="lftop-contain">
            <div class="lftop-txt">热门餐饮</div>
        </div>
        {% for i in mylst %}
            <div class="building">
                <div class="eat-item">
                    <div class="img_a_div">
                        <a href="#" target="_blank">
                            <img src="{% static "/lzh/imgs/testit2.jpg" %}">
                        </a>
                    </div>
                    <div class="textdiv">
                        <div class="itemcont">
                            <a href="#" title="阿康烧烤" target="_blank" class="ictxt">
                                阿康烧烤
                            </a>
                        </div>
                        <span class="green">饿了么</span>
                        <a class="item-txt fr"><span style="color: #888;">本月好评：</span>42368次</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {#-------------------------------------------------------------------------------#}
{% endblock %}