<!DOCTYPE html>
<html lang="en">
<body>
{#导航栏#}
<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="/index">DietCat饮食专家</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav mr-auto">
            <li><a href="/punch/">每日打卡<span class="navbar-unread"></span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能</a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    <li><a href="/meals/">一日三餐</a></li>
                    <li><a href="/recommend/">食物推荐</a></li>
                    <li><a href="/plan/">饮食计划</a></li>
                    <li class="divider"></li>
                    <li><a href="/prop/">用户反馈</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的</a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    <li><a href="/cntmsg/">账户资料</a></li>
                    <li><a href="/bdymsg/">身体信息</a></li>
                    <li><a href="/logout/">注销</a></li>
                </ul>
            </li>
            <li><a href="/setting/">设置</a></li>
        </ul>
        {#查询表单#}
        <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="navbarInput-01" placeholder="查询" type="search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</nav>
</body>
</html>